*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #002339;
}
/* 
body{
  background-color: #F4FEFE;
} */

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc{
  padding: 20px;
  border-radius: 20px;
  background: transparent;
  border: none;
  box-shadow: -1px -1px 10px 10px rgba(189,97,97,0.5);
  /* box-shadow: inset 0px 4px 8px rgba(0, 35, 57, 0.1); */
}

#input{
  font-family: Roboto, sans-serif;
  font-size: 60px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  height: 100px;
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

button{
  border: none;
  color: #fff;
  /* color: black; */
  font-size: 1.5rem;
  margin: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  /* box-shadow: 6px 6px 10px rgba(190,97,97,1),
  -6px -6px 10px rgba(190,97,97,1); */
   box-shadow: 
    -8px -8px 16px rgba(10, 88, 145, 0.5),  
    8px 8px 16px rgba(0, 0, 0, 0.3);          
}


/* Media query for very small devices */
@media (max-width: 480px) {
  #input {
    font-size: 8vw !important;
    height: 12vw !important;
  }

  button {
    font-size: 5vw !important;
    height: 18vw !important;
    width: 18vw !important;
    margin: 6px !important;
  }

  .calc {
    width: 95% !important;
    padding: 15px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
}
